{% extends 'partials/base.html' %}
{% load widget_tweaks %}
{% load static %}
<html>
<head>
    {% block title %}Empleado modificar{% endblock %}
</head>
<body>
{% block content %}
    <!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
    <div class="row my-4">
        <div class="col-md-4">
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "error" %}
                        <script>
                            Swal.fire({
                                "title":"Error",
                                "text":"{{message}}",
                                "icon":"error",
                            })
                        </script>
                    {% else %}
                        <script>
                            Swal.fire({
                                "title":"Excelente",
                                "text":"{{message}}",
                                "icon":"success",
                            })
                        </script>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="modal-dialog-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Empleado Baja o Cambio de distrito</h5>
                <a href="{% url 'Perfil' %}"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></a>
            </div>
            <div class="modal-body">
                <form hx-post="{{ request.path }}" class="modal-content" hx-encoding='multipart/form-data'>
                    <label style="color: black;" for="form.nombre" class="col-auto col-form-label">Empleado # {{empleado.numero_de_trabajador}}</label>
                    <label style="color: black;" for="form.nombre" class="col-auto col-form-label">Empleado: {{empleado.nombres}} {{empleado.apellidos}}</label>
                    <label style="color: black;" for="form.nombre" class="col-auto col-form-label">Distrito actual: {{empleado.distrito}}</label>
                    {% csrf_token %}
                    <!-- Sección de baja de empleado -->
                    <div class="mb-3">
                    <hr>
                        <h6 style="color: red;">Dar de baja al empleado</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="baja_empleado" id="baja_empleado">
                            <label class="form-check-label" style="color: black;" for="baja_empleado">
                                Sí, dar de baja al empleado
                            </label>
                        </div>
                    </div>
                    <hr>
                    <!-- Sección de cambio de distrito -->
                    <div class="mb-3">
                        <h6 style="color: red;">Cambio de distrito</h6>
                        <select class="form-select" name="distrito" id="distrito">
                                <option value="">None</option>
                                {% for distrito in distritos %}
                                    <option value="{{ distrito.distrito }}">{{ distrito.distrito }}</option>
                                {% endfor %}
                        </select>
                    </div>

                    <div class="row">
                        <div class="col-auto my-2 .mr-1">
                            <button type="submit" class="btn btn-outline-light" style="background-color:#980f0f" data-bs-dismiss="modal" onclick="confirmAction(event)"><i class="fa-solid fa-cloud-arrow-up"></i> Confirmar</button>
                        </div>
                        <div class="col-auto my-2">
                            <a href="#" hx-trigger="click" data-bs-dismiss="modal"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button></a>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
            </div>
        </div>
    </div>
    <script>
        function confirmAction(event) {
            event.preventDefault();
            Swal.fire({
                title: '¿Estás seguro?',
                text: 'Esta acción no se puede deshacer',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, estoy seguro',
                cancelButtonText: 'No',
            }).then((result) => {
                if (result.isConfirmed) {
                    // Ejecutar la función btnsend
                    btnsend();
                }
            });
        }

        function btnsend() {
            // Lógica para enviar el formulario o realizar la acción deseada
            // ...
        }
    </script>
{% endblock %}
</body>
</html>