{% extends 'partials/base.html' %}
{% load widget_tweaks %}

{% block content %}
<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<hr>
<hr>
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-half is-offset-one-quarter">
                <h3 class="title is-size-3">Añadir catorcena</h3>
                <form method="POST">
                    {% csrf_token %}
                            <div class="row my-2">
                                <label for="form.catorcena" class="col-auto col-form-label my-1"><strong>Catorcena:</strong></label>
                                <div class="col-2">
                                    <div class="input-group mb-3">
                                    <span class="input-group-text"><i class="fa-sharp fa-solid fa-hashtag"></i></span>
                                    {{form.catorcena|add_class:"form-control"}}
                                </div>
                            </div>
                            </div>
                            <div class="row my-2">
                                <label for="form.fecha_inicial" class="col-auto col-form-label my-1"><strong>Fecha inicial:</strong></label>
                                <div class="col-2">
                                    {% render_field form.fecha_inicial type="date" class="form-control" %}
                                </div>
                            </div>
                            <div class="row my-2">
                                <label for="form.fecha_final" class="col-auto col-form-label my-1"><strong>Fecha final:</strong></label>
                                <div class="col-2">
                                    {% render_field form.fecha_final type="date" class="form-control" %}
                                </div>
                            </div>
                </div>
                <hr>
                <button id="btnSave" type="submit" name="btnSend" class="btn btn-success">Guardar</button>
                <a href="{% url 'Tabla_catorcenas' %}" class="btn btn">Cancelar</a>
            </div>
        </div>
    </div>
 </form>
{% endblock %}