{% extends 'partials/base.html' %}
{% load widget_tweaks %}

{% block content %}
<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<hr>
<hr>
<div class="container">
        <div class="columns is-mobile">
            <div class="column is-half is-offset-one-quarter">
                <h3 class="title is-size-3">Días de vacaciones update</h3>
                <form method="POST">
                    {% csrf_token %}
                            <div class="row my-2">
                                <label for="form.years" class="col-auto col-form-label my-1"><strong>Años de antigüedad:</strong></label>
                                <div class="col-2">
                                    {{form.years|add_class:"form-control"}}
                                </div>
                            </div>
                            <div class="row my-2">
                                <label for="form.days" class="col-auto col-form-label my-1"><strong>Días de vacaciones correspondientes:</strong></label>
                                <div class="col-2">
                                    {{form.days|add_class:"form-control"}}
                                </div>
                            </div>

                            <button type="submit" name="btnSend" class="btn btn-success">
                                <span class="glyphicon glyphicon-ok"></span> Guardar
                            </button>
                            <a href="{% url 'Tabla_dias_vacaciones' %}" class="btn btn">Cancelar</a>

                            </div>
                </form>
         </div>
    </div>
</div>
{% endblock %}