{% extends 'partials/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>


<hr>
<hr>

<div class="container card card-body">
        <div class="columns is-mobile">
            <div class="column is-half is-offset-one-quarter">
                <h3 class="title is-size-3">Formulario días económicos del empleado</h3>
                <form method="POST">
                    {% csrf_token %}
                            <div class="row my-2">
                                <label for="form.status" class="col-auto col-form-label my-1 "><strong>Empleado:</strong></label>
                                <div class="col-3 d-none">
                                    {{form.status|add_class:"form-control"}}
                                </div>
                                <div class="col-5">
                                <input type="text" list="status" autocomplete="off" id="empleados" valor="{{status.id}}" placeholder="Empleado..." class="form-control">
                                <datalist id="status" name='status'>
                                    {% for status in empleados %}
                                        {% if status.id != empleado.id %}
                                            <option valor="{{status.id}}" value="{{status.perfil}}"></option>
                                        {% endif %}}
                                    {% endfor %}
                                </datalist>
                                </div>
                            </div>
                            <div class="row my-2">
                                <label for="form.fecha" class="col-auto col-form-label my-1"><strong>Fecha:</strong></label>
                                <div class="col-2">
                                    {% render_field form.fecha type="date" class="form-control" %}
                                </div>
                            </div>
                            <div class="row my-2">
                                <label for="form.comentario" class="col-auto col-form-label my-1"><strong>Comentario:</strong></label>
                                <div class="col-7">
                                    {{form.comentario|add_class:"form-control"}}
                                </div>
                            </div>
                    <hr>
            </div>
        <button id="btnSave" type="submit" name="btnSend" class="btn btn-success">Guardar</button>
        <a href="{% url 'Tabla_economicos' %}" class="btn btn">Cancelar</a>
    </div>
</div>
</form>
<script>
document.getElementById("empleados").addEventListener("change", (event)=>{
    var select = document.getElementById("empleados");
    var browserChildren = document.getElementById('status').children;
    var other_select = document.getElementById('id_status');
    cont = 0

    for(let i = 0; i < browserChildren.length; i++){
        if (browserChildren[i].value === select.value){
            let id = browserChildren[i].getAttribute('valor');
            other_select.value = id;
            cont = 1
            }
    }
    console.log(select.value)
    //El cont = 0 es un indicador/bandera si encuentra al menos una similitud en el for no se activa
    if ((!select.value) || (cont = 0)){
        other_select.value = 0
    }
});

document.getElementById("btnSave").addEventListener("click", function(event){
    var empleados = document.getElementById('empleados');
    var save = document.getElementById('btnSave')
    if (!empleados){
        save.removeAttribute('type')
        Swal.fire({
            "title":"Error",
            "text":"Debes ingresar un Empleado",
            "icon":"error",
            })
    }
});
</script>
{% endblock %}