{% extends 'partials/base.html' %}
{% load widget_tweaks %}
<html>
<head>
{% block title %}Bonos{% endblock %}
</head>
<body>
{% block content %}
<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
{% if status_fijo.id == perfil.costo.status.id or usuario.tipo.admin == True %}
    <div>
{% else %}
    <div>
    <hr>
    <hr>
    &nbsp;
    <div style="text-align: center;">
    <i class="fa-solid fa-circle-exclamation fa-4x"></i>
    <h2 style="margin-top: 0.5em;">404</h2>
    <h2 style="margin-top: 0.25em;">Page not found</h2>
    <p>Si tiene los permisos para acceder a esta información <br> comuníquese con los Administradores del sistema.</p> 
    <a href="{% url 'index' %}" class="btn btn-outline-info"><i class="fa-solid fa-backward"></i>  Inicio</a>
    </div>
    <div class="d-none">
{% endif %}
<hr>
<hr>
    <!-- Aqui es el encabezado -->
    <div class = "row mt-2 bg-white">
        <form method=POST>
        {% csrf_token %}
        <div class="col-12">
            <div class="card card-body">
                <h4>Tabla bonos del usuario</h4>
            </div>
        </div>
        </form>
    </div>
<div class="card card-body">
            <h5>Filtro de bonos</h5>
            <form method="GET" class="row g-7">
                {% csrf_token %}
                <label for="bono_filter.form.start_date" class="col-sm-auto col-form-label text-right"><strong>Desde:</strong></label>
                <div class="col-auto">
                     {% render_field bono_filter.form.start_date type="date" class="form-control" %}
                </div>
                 <label for="bono_filter.form.end_date" class="col-sm-auto col-form-label text-right"><strong>Hasta:</strong></label>
                <div class="col-auto">
                     {% render_field bono_filter.form.end_date type="date" class="form-control" %}
                </div>
                <div class="col-auto">
                <button class="btn btn-outline-success" type="submit" value="Buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            </form>
</div>
<!-- Aquí empieza la generación de la tabla -->
<div class = "row mt-2">
    <div class="col-md-12">
        <table class="table table-striped table-hover bg-white">
            <thead class="text-black" style="background-color: #F5F5F5;">
                <tr style="background-color:#2A628F;color:#ffffff;">
                    <th scope="col">Nombre</th>
                    <th scope="col">No. de cuenta</th>
                    <th scope="col">No. de tarjeta</th>
                    <th scope="col">Clabe interbancaria</th>
                    <th scope="col">Banco</th>
                    <th scope="col">Fecha del bono</th>
                    <th scope="col">Fecha de modificación</th>
                    <th scope="col">Bono total</th>

                </tr>
            </thead>
            <tbody>
                {% for bono in bonos %}
                <tr>
                    <td>{{bono.costo.status.perfil.nombres}} {{bono.costo.status.perfil.apellidos}}</td>
                    <td>{{bono.datosbancarios.no_de_cuenta}}</td>
                    <td>{{bono.datosbancarios.numero_de_tarjeta}}</td>
                    <td>{{bono.datosbancarios.clabe_interbancaria}}</td>
                    <td>{{bono.datosbancarios.banco}}</td>
                    <td>{{bono.fecha_bono}}</td>
                    <td>{{bono.updated_at}}</td>
                    <td>{{bono.monto}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!--Este es el modal-->
<div class="modal fade" id ="dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" id="document" role="document">

    </div>
</div>
<script>
;(function(){
    const modal = new bootstrap.Modal(document.getElementById('dialog'))

    htmx.on('htmx:beforeSwap',(e)=>{
        if (e.detail.target.id === "document" && !e.detail.xhr.response)
        modal.hide()
    })
})()

</script>
{% endblock %}

</body>
</html>