{% extends 'partials/base.html' %}
{% load widget_tweaks %}
<html>
<head>
{% block title %}Solicitud Vacacion{% endblock %}
</head>
<body>
{% block content %}
<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<hr>
<hr>
<div class="container card card-body">
        <div class="columns is-mobile">
            <div class="column is-half is-offset-one-quarter">
                <h3 class="title is-size-3">Solicitud Vacación</h3>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                        <label for="form.solicitud" class="col-auto col-form-label"><strong>Solicitud: #{{solicitud.id}}</strong></label>
                        <br>
                        <label for="form.nombre" class="col-auto col-form-label"><strong>Empleado: {{solicitud.status.perfil.nombres}} {{solicitud.status.perfil.apellidos}}</strong></label>
                        <br>
                            <div class="row my-2">
                                <label for="form.fecha_inicio" class="col-auto col-form-label my-1"><strong>Primer día de vacaciones:</strong></label>
                                <div class="col-2">
                                    <div class="input-group mb-3">
                                    <span class="input-group-text"><i class="fa-solid fa-calendar-plus"></i></span>
                                    {% render_field form.fecha_inicio type="date" class="form-control" %}
                                    </div>
                                </div>
                                <label for="form.fecha_fin" class="col-auto col-form-label my-1"><strong>Ultimo día de vacaciones:</strong></label>
                                <div class="col-2">
                                    <div class="input-group mb-3">
                                    <span class="input-group-text"><i class="fa-solid fa-calendar-plus"></i></span>
                                    {% render_field form.fecha_fin type="date" class="form-control" %}
                                    </div>
                                </div>
                            </div>
                            <div class="row my-2">
                                <label for="form.dia_inhabil" class="col-auto col-form-label my-1"><strong>Día de la semana que no labora:</strong></label>
                                <div class="col-3">
                                    {{form.dia_inhabil|add_class:"form-control"}}
                                </div>
                                <label for="id_autorizar" class="col-auto col-form-label my-1"><strong>Autorizar:</strong></label>
                                <div class="col-3">
                                    {{ form.autorizar|add_class:"form-control"|attr:"id:id_autorizar"}}
                                </div>
                            </div>
                            <br>
                            <!--Si son mas de 3 días de vacaciones-->
                            <div class="row my-2 hide-me">
                            <h5 class="title is-size-3">Recepción de puesto</h5>
                                <label for="form.dia_inhabil" class="col-auto col-form-label my-1"><strong>Recibe:</strong></label>
                                <div class="col-3">
                                    <input type="text" name="recibe" value="{{solicitud.recibe_nombre|default:''}}" id="recibe_id" class="form-control" maxlength="20">
                                </div>
                                <label for="form.dia_inhabil" class="col-auto col-form-label my-1"><strong>Area:</strong></label>
                                <div class="col-3">
                                    <input type="text" name="area" value="{{solicitud.recibe_area|default:''}}" id="area_id" class="form-control" maxlength="20">
                                </div>
                            </div>
                            <div class="row my-2 hide-me">
                                <label for="form.dia_inhabil" class="col-auto col-form-label my-1"><strong>Puesto:</strong></label>
                                <div class="col-3">
                                    <input type="text" name="puesto" value="{{solicitud.recibe_puesto|default:''}}" id="puesto_id" class="form-control" maxlength="20">
                                </div>
                                <label for="form.dia_inhabil" class="col-auto col-form-label my-1"><strong>Sector:</strong></label>
                                <div class="col-3">
                                    <input type="text" name="sector" value="{{solicitud.recibe_sector|default:''}}" id="sector_id" class="form-control" maxlength="20" autocomplete="off">
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row my-2 hide-me">
                                <h5 class="title is-size-3">Situaciones de trabajo encomendadas</h5>
                                <table class="table">
                                <thead>
                                    <tr>
                                    <th>No.</th>
                                    <th>Asunto</th>
                                    <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <td>1</td>
                                    <td><input type="text" name="asunto1" value="{{trabajos.asunto1}}"  id="asunto_1" class="form-control" maxlength="20"></td>
                                    <td><input type="text" name="estado1" value="{{trabajos.estado1}}" id="estado_1" class="form-control" maxlength="20"></td>
                                    </tr>
                                    <tr>
                                    <td>2</td>
                                    <td><input type="text" name="asunto2" value="{{trabajos.asunto2}}" id="asunto_2" class="form-control" maxlength="20"></td>
                                    <td><input type="text" name="estado2" value="{{trabajos.estado2}}" id="estado_2" class="form-control" maxlength="20"></td>
                                    </tr>
                                    <tr>
                                    <td>3</td>
                                    <td><input type="text" name="asunto3" value="{{trabajos.asunto3}}" id="asunto_3" class="form-control" maxlength="20"></td>
                                    <td><input type="text" name="estado3" value="{{trabajos.estado3}}" id="estado_3" class="form-control" maxlength="20"></td>
                                    </tr>
                                    <tr>
                                    <td>4</td>
                                    <td><input type="text" name="asunto4" value="{{trabajos.asunto4}}" id="asunto_4" class="form-control" maxlength="20"></td>
                                    <td><input type="text" name="estado4" value="{{trabajos.estado4}}" id="estado_4" class="form-control" maxlength="20"></td>
                                    </tr>
                                    <tr>
                                    <td>5</td>
                                    <td><input type="text" name="asunto5" value="{{trabajos.asunto5}}" id="asunto_5" class="form-control" maxlength="20"></td>
                                    <td><input type="text" name="estado5" value="{{trabajos.estado5}}" id="estado_5" class="form-control" maxlength="20"></td>
                                    </tr>
                                    <tr>
                                    <td>6</td>
                                    <td><input type="text" name="asunto6" value="{{trabajos.asunto6}}" id="asunto_6" class="form-control" maxlength="20"></td>
                                    <td><input type="text" name="estado6" value="{{trabajos.estado6}}" id="estado_6" class="form-control" maxlength="20"></td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                            <br>
                            <br>
                            <div class="row my-2 hide-me">
                            <h5 class="title is-size-3">Información adicional</h5>
                            <br>
                                <label for="form.dia_inhabil" class="col-auto col-form-label my-1"><strong>Información adicional:</strong></label>
                                <div class="col-3">
                                    <input type="text" name="adicional" value="{{solicitud.informacion_adicional|default:''}}" id="adicional_id" class="form-control" maxlength="20">
                                </div>
                            </div>
                            <div class="row my-2 hide-me">
                                <table class="table">
                                <thead>
                                    <tr>
                                    <th>No.</th>
                                    <th>Asunto</th>
                                    <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <td>1</td>
                                    <td>Información sobre personal a su cargo</td>
                                    <td><input type="text" name="comentario1" value="{{temas.comentario1|default:''}}" id="comentario_1" class="form-control" maxlength="20"></td>
                                    </tr>
                                    <tr>
                                    <td>2</td>
                                    <td>Documentos</td>
                                    <td><input type="text" name="comentario2" value="{{temas.comentario2|default:''}}" id="comentario_2" class="form-control" maxlength="20"></td>
                                    </tr>
                                    <tr>
                                    <td>3</td>
                                    <td>Arqueo de caja o cuenta bancaria a su cargo (cuando aplique)</td>
                                    <td><input type="text" name="comentario3" value="{{temas.comentario3|default:''}}" id="comentario_3" class="form-control" maxlength="20"></td>
                                    </tr>
                                    <tr>
                                    <td>4</td>
                                    <td>Proyectos pendientes</td>
                                    <td><input type="text" name="comentario4" value="{{temas.comentario4|default:''}}" id="comentario_4" class="form-control" maxlength="20"></td>
                                    </tr>
                                    <tr>
                                    <td>5</td>
                                    <td>Estado de las operaciones a su cargo</td>
                                    <td><input type="text" name="comentario5" value="{{temas.comentario5|default:''}}" id="comentario_5" class="form-control" maxlength="20"></td>
                                    </tr>
                                    <tr>
                                    <td>6</td>
                                    <td>Deudas con la empresa</td>
                                    <td><input type="text" name="comentario6" value="{{temas.comentario6|default:''}}" id="comentario_6" class="form-control" maxlength="20"></td>
                                    </tr>
                                    <tr>
                                    <td>7</td>
                                    <td>Saldos por comprobar a contabilidad</td>
                                    <td><input type="text" name="comentario7" value="{{temas.comentario7|default:''}}" id="comentario_7" class="form-control" maxlength="20"></td>
                                    </tr>
                                    <tr>
                                    <td>8</td>
                                    <td>Activos asignados</td>
                                    <td><input type="text" name="comentario8" value="{{temas.comentario8|default:''}}" id="comentario_8" class="form-control" maxlength="20"></td>
                                    </tr>
                                    <tr>
                                    <td>9</td>
                                    <td>Otros</td>
                                    <td><input type="text" name="comentario9" value="{{temas.comentario9|default:''}}" id="comentario_9" class="form-control" maxlength="20"></td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                            <div class="row my-2 hide-me">
                                <label for="form.dia_inhabil" class="col-auto col-form-label my-1"><strong>Anexos:</strong></label>
                                <div class="col-3">
                                    <input type="text" name="anexos" value="{{solicitud.anexos|default:''}}" id="anexos_id" class="form-control" maxlength="20">
                                </div>
                            </div>
                        <hr>
                    <button type="submit" name="btnSend" class="btn btn-success">
                        <span class="glyphicon glyphicon-ok"></span> Guardar
                    </button>
                        <a href="{% url 'Solicitudes_vacaciones' %}" class="btn btn">Cancelar</a>
                </form>
         </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(function() {
    // función para calcular la diferencia de días entre dos fechas
    function dateDiffInDays(a, b) {
        const diffInMs = b - a;
        return diffInMs / (1000 * 60 * 60 * 24);
    }

    // función para ocultar los campos que se encuentran en la clase "hide-me"
    function hideFields() {
        $('.hide-me').prop('hidden', true);
    }

    // función para mostrar los campos que se encuentran en la clase "hide-me"
    function showFields() {
        $('.hide-me').prop('hidden', false);
    }

    // función para manejar el cambio en los campos de fecha
    function handleDateChange() {
        const startDate = new Date($('#id_fecha_inicio').val());
        const endDate = new Date($('#id_fecha_fin').val());
        const diffInDays = dateDiffInDays(startDate, endDate);

        if (diffInDays < 3) {
            hideFields();
        } else {
            showFields();
        }
    }

    // manejar el cambio en los campos de fecha al cargar la página
    handleDateChange();

    // manejar el cambio en los campos de fecha cuando se cambian
    $('#id_fecha_inicio, #id_fecha_fin').change(handleDateChange);
});
</script>
{% endblock %}
</body>
</html>