{% extends 'partials/base.html' %}
{% load widget_tweaks %}
<!-- <html> -->
<head>
    {% block title %}Status{% endblock %}
</head>
<body>
    {% block content %}
    <!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
    <div class="row my-4">
        <div class="col-md-4">
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "error" %}
                    <script>
                    Swal.fire({
                        "title":"Error",
                        "text":"{{message}}",
                        "icon":"error",
                    })
                    </script>
                    {% else %}
                    <script>
                    Swal.fire({
                        "title":"Excelente",
                        "text":"{{message}}",
                        "icon":"success",
                    })
                    </script>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>


<!-- Aqui es el encabezado -->
<div class="body flex-grow-1 px-4">
    <!-- <div class="container-xg"> -->
    <div class="row">
        <div>
            
            <div class="col-12">
                <div class="card card-body">
                    <div class="row row-cols-2 mt-2">
                        <div>
                            <h5>Status del empleado</h5>
                        </div>
                        <div class="align-items-center text-end">
                            <form method=POST>
                            {% csrf_token %}
                                <button type="submit" name="Excel" class="btn btn-outline-success" value='Reporte Excel'>
                                    <i class="fa-solid fa-file-excel fa-2xl"></i>
                                </button>
                                <a type="button" class="btn btn-outline-info" href="{% url 'Formulario_status' %}">
                                    <i class="fa-solid fa-user-plus"></i>
                                </a>
                                <a type="button" class="btn btn-outline-light" style="background-color:#9a9b9d" data-bs-toggle="modal" data-bs-target='#dialog' hx-target="#document" hx-get="{% url 'Upload_status' %}">
                                    <i class="fa-solid fa-file-arrow-up"> CARGA MASIVA</i>
                                </a>
                            </form>
                        </div>
                    </div>
            
                    <form method="GET" class="row g-3">
                    {% csrf_token %}
                        <!-- <label for="status_filter.form.perfil__numero_de_trabajador" class="col-sm-auto col-form-label text-right"><strong>No. empleado:</strong></label>
                        <div class="col-auto">
                            {% render_field status_filter.form.numero_de_trabajador class="form-control" %}
                        </div>
                        <label for="status_filter.form.perfil__nombres" class="col-sm-auto col-form-label text-right"><strong>Nombre:</strong></label>
                        <div class="col-auto">
                            {% render_field status_filter.form.nombres class="form-control" %}
                        </div>
                        {% if usuario.distrito.distrito == "Matriz" %}
                        <label for="status_filter.form.perfil__distrito" class="col-sm-auto col-form-label text-right"><strong>Distrito:</strong></label>
                        <div class="col-auto">
                            {% render_field status_filter.form.distrito class="form-control" %}
                        </div>
                        {% else %}
                        {% endif %}
                        <label for="status_filter.form.profesion" class="col-sm-auto col-form-label text-right"><strong>Profesión:</strong></label>
                        <div class="col-auto">
                            {% render_field status_filter.form.profesion class="form-control" %}
                        </div>
                        <label for="status_filter.form.tipo_de_contrato" class="col-sm-auto col-form-label text-right"><strong>Contrato:</strong></label>
                        <div class="col-auto">
                            {% render_field status_filter.form.tipo_de_contrato class="form-control" %}
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-outline-success" type="submit" value="Buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div> -->
                        <div class="col-12 justify-content-center">
                            <div class="row mt-1">
                                <div class="col">
                                    <label for="status_filter.form.perfil__numero_de_trabajador" class="col-form-label text-right">No. empleado:</label>
                                    <div>
                                        {% render_field status_filter.form.numero_de_trabajador class="form-control" %}
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="status_filter.form.perfil__nombres" class="col-form-label text-right">Nombre:</label>
                                    <div>
                                        {% render_field status_filter.form.nombres class="form-control" %}
                                    </div>
                                </div>
                                {% if usuario.distrito.distrito == "Matriz" %}
                                <div class="col">
                                    <label for="status_filter.form.perfil__distrito" class="col-form-label text-right">Distrito:</label>
                                    <div>
                                        {% render_field status_filter.form.distrito class="form-control" %}
                                    </div>
                                </div>
                                {% endif %}
                                <div class="col">
                                    <label for="status_filter.form.profesion" class="col-form-label text-right">Profesión:</label>
                                    <div>
                                        {% render_field status_filter.form.profesion class="form-control" %}
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="status_filter.form.tipo_de_contrato" class="col-form-label text-right">Contrato:</label>
                                    <div>
                                        {% render_field status_filter.form.tipo_de_contrato class="form-control" %}
                                    </div>
                                </div>
                                <div class="col mt-4 pt-1">
                                    <button class="btn btn-outline-success btn-lg" type="submit" value="Buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Aquí empieza la generación de la tabla -->
        <!-- <div class = "row mt-2"> -->
        <div class="col-md-12">
            <!-- Fix whole size of page add horizontal scrolling bar including style="width: 100%; -->
            <div style="overflow-x: auto;"> 
                <table class="table table-striped table-hover bg-white" style="width: 100%;">
                    <thead class="text-black" style="background-color: #F5F5F5;">
                        <tr style="background-color:#2A628F;color:#ffffff;">
                            <th scope="col">Nombre</th>
                            <th scope="col">Núm empleado</th>
                            <th scope="col">Registro Patronal</th>
                            <th scope="col">NSS</th>
                            <th scope="col">CURP</th>
                            <th scope="col">RFC</th>
                            <th scope="col">Profesión</th>
                            <th scope="col">Núm Cédula</th>
                            <th scope="col">Nivel</th>
                            <th scope="col">Tipo contrato</th>
                            <th scope="col">Venc último contrato</th>
                            <th scope="col">Tipo sangre</th>
                            <th scope="col">Sexo</th>
                            <th scope="col">Teléfono</th>
                            <th scope="col">Domicilio completo</th>
                            <th scope="col">Estado civil</th>
                            <th scope="col">Detalle</th>
                            <th scope="col">Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for estado in status %}
                        <tr>
                            <td>{{estado.perfil.nombres}} {{estado.perfil.apellidos}}</td>
                            <td>{{estado.perfil.numero_de_trabajador}}</td>
                            <td>{{estado.registro_patronal}}</td>
                            <td>{{estado.nss}}</td>
                            <td>{{estado.curp}}</td>
                            <td>{{estado.rfc}}</td>
                            <td>{{estado.profesion}}</td>
                            <td>{{estado.no_cedula}}</td>
                            <td>{{estado.nivel}}</td>
                            <td>{{estado.tipo_de_contrato}}</td>
                            {% if estado.ultimo_contrato_vence|date:'Y-m-d' == "6000-01-01" %}
                                <td>ESPECIAL</td>
                            {% elif estado.ultimo_contrato_vence|date:'Y-m-d' == "6001-01-01" %}
                                <td>INDETERMINADO</td>
                            {% elif estado.ultimo_contrato_vence|date:'Y-m-d' == "6002-01-01" %}
                                <td>HONORARIOS</td>
                            {% elif estado.ultimo_contrato_vence|date:'Y-m-d' == "6003-01-01" %}
                                <td>NR</td>
                            {% else %}
                                <td>{{estado.ultimo_contrato_vence}}</td>
                            {% endif %}
                            <td>{{estado.tipo_sangre}}</td>
                            <td>{{estado.sexo}}</td>
                            <td>{{estado.telefono}}</td>
                            <td>{{estado.domicilio}}</td>
                            <td>{{estado.estado_civil}}</td>
                            <td><a class="btn btn-outline-info" id="btnRevisar" type="button" href="{% url 'Status_revisar' estado.id %}"><i class="fa-solid fa-address-card"></i></a>
                            <td><a class="btn btn-outline-info" id="btnActualizar" type="button" href="{% url 'Status_update' estado.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                {% if status.has_previous %}
                    <li class="page-item"><a class="page-link" style="color:#3E92CC" href="?page=1"><i class="fa-solid fa-angles-left"></i></a></li>
                    <li class="page-item"><a class="page-link" style="color:#3E92CC" href="?page={{status.previous_page_number}}"><i class="fa-solid fa-angle-left"></i></a></li>
                {% endif %}
                <!--<li class="page-item disabled"><a href="#" class="page-link">Page {{items_list.number}} of {{ items_list.paginator.num_pages}}</a></li>-->
    
                {% for item in status.paginator.page_range %}
                    {% if status.number == item %}
                        <li class="page-item active"><a href="#" class="page-link bg-dark">{{item}}</a></li>
                    {% elif item > status.number|add:'-2' and item < status.number|add:'2' %}
                        <li class="page-item "><a class="page-link" style="color:#3E92CC" href="?page={{item}}" class="page-link">{{item}}</a></li>
                    {% endif %}
                {% endfor %}
    
                {% if status.paginator.num_pages > status.number|add:'2' %}
                <li><a class="page-link" style="color:#3E92CC" href="?page={{status.number|add:'2'}}">&hellip;</a></li>
                <li><a style="color:#3E92CC" href="?page={{ item }}">{{item}}</a></li>
                <li><a class="page-link" style="color:#3E92CC" href="?page={{ status.paginator.num_pages}}">{{status.paginator.num_pages}}</a></li>
                {% endif %}
    
                {% if status.has_next %}
                    <li class="page-item"><a class="page-link" style="color:#3E92CC" href="?page={{status.next_page_number}}"><i class="fa-solid fa-chevron-right"></i></a></li>
                    <li class="page-item"><a class="page-link" style="color:#3E92CC" href="?page={{status.paginator.num_pages}}"><i class="fa-solid fa-angles-right"></i></a></a></li>
                {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

</div>
    <!--Este es el modal-->
    <div class="modal fade" id ="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" id="document" role="document" hx-target="this">

        </div>
    </div>
    <script>
        var myModal = document.getElementById('dialog')

        myModal.addEventListener('hidden.bs.modal', function (event) {
        //    location.reload();
        })

    </script>
    {% endblock %}

    </body>
<!-- </html> -->