{% extends 'partials/base.html' %}
{% load widget_tweaks %}
<head>
{% block title %}Costo Personal{% endblock %}
</head>
<body>
    {% block content %}
    <!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
    <div class="row my-4">
        <div class="col-md-4">
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == "error" %}
                        <script>
                        Swal.fire({
                            "title":"Error",
                            "text":"{{message}}",
                            "icon":"error",
                        })
                        </script>
                        {% else %}
                        <script>
                        Swal.fire({
                            "title":"Excelente",
                            "text":"{{message}}",
                            "icon":"success",
                        })
            </script>
                        {% endif %}
                    {% endfor %}
                {% endif %}
        </div>
    </div>

    <div class="body flex-grow-1 px-4">
        <div class="row">
            <div>
                <div class="col-12">
                    <div class="card card-body">
                        <div class="row row-cols-2 mt-2">
                            <div>
                                <h4>Costo Personal</h4>
                            </div>
                            <div class="align-items-center text-end">
                                <form method=POST>
                                {% csrf_token %}
                                    <button type="submit" name="Excel" class="btn btn-outline-success" value='Reporte Excel'>
                                        <i class="fa-solid fa-file-excel fa-2xl"></i>
                                    </button>
                                    <a type="button" class="btn btn-outline-info" href="{% url 'Formulario_costo' %}">
                                        <i class="fa-solid fa-user-plus"></i>
                                    </a>
                                    <a type="button" class="btn btn-outline-light" style="background-color:#9a9b9d" data-bs-toggle="modal" data-bs-target='#dialog' hx-target="#document" hx-get="{% url 'Upload_costos' %}">
                                        <i class="fa-solid fa-file-arrow-up"> CARGA MASIVA</i>
                                    </a>
                            </div>
                        </div>
                        <div class="row my-2 mt-3 justify-content-center">
                            <div class="form-check form-switch col-auto ml-2" id="complemento">
                                <input class="form-check-input" type="checkbox" role="switch" id="SwitchComplemento">
                                <label class="form-check-label" for="flexSwitchCheckDefault"><strong>Complemento salario</strong></label>
                            </div>
                            <div class="form-check form-switch col-auto mx-1" id="Pasajes">
                                <input class="form-check-input" type="checkbox" role="switch" id="SwitchPasajes">
                                <label class="form-check-label" for="flexSwitchCheckDefault"><strong>Pasajes</strong></strong></label>
                            </div>
                            <div class="form-check form-switch col-auto mx-1" id="IMSS">
                                <input class="form-check-input" type="checkbox" role="switch" id="SwitchIMSS">
                                <label class="form-check-label" for="flexSwitchCheckDefault"><strong>IMSS</strong></label>
                            </div>
                            <div class="form-check form-switch col-auto mx-1" id="SAR">
                                <input class="form-check-input" type="checkbox" role="switch" id="SwitchSAR">
                                <label class="form-check-label" for="flexSwitchCheckDefault"><strong>SAR</strong></label>
                            </div>
                            <div class="form-check form-switch col-auto mx-1" id="ISR">
                                <input class="form-check-input" type="checkbox" role="switch" id="SwitchISR">
                                <label class="form-check-label" for="flexSwitchCheckDefault"><strong>ISR</strong></label>
                            </div>
                            <div class="form-check form-switch col-auto mx-1" id="Visita">
                                <input class="form-check-input" type="checkbox" role="switch" id="SwitchVisita">
                                <label class="form-check-label" for="flexSwitchCheckDefault"><strong>Visita</strong></label>
                            </div>
                            <div class="form-check form-switch col-auto mx-1" id="Estancia">
                                <input class="form-check-input" type="checkbox" role="switch" id="SwitchEstancia">
                                <label class="form-check-label" for="flexSwitchCheckDefault"><strong>Estancia</strong></label>
                            </div>
                            <div class="form-check form-switch col-auto mx-1" id="Renta">
                                <input class="form-check-input" type="checkbox" role="switch" id="SwitchRenta">
                                <label class="form-check-label" for="flexSwitchCheckDefault"><strong>Renta</strong></label>
                            </div>
                            <div class="form-check form-switch col-auto mx-1" id="Estudios">
                                <input class="form-check-input" type="checkbox" role="switch" id="SwitchEstudios">
                                <label class="form-check-label" for="flexSwitchCheckDefault"><strong>Estudios</strong></label>
                            </div>
                            <div class="form-check form-switch col-auto mx-1" id="Vehicular">
                                <input class="form-check-input" type="checkbox" role="switch" id="SwitchVehicular">
                                <label class="form-check-label" for="flexSwitchCheckDefault"><strong>Vehicular</strong></label>
                            </div>
                            <div class="form-check form-switch col-auto mx-1" id="gasolina">
                                <input class="form-check-input" type="checkbox" role="switch" id="SwitchGasolina">
                                <label class="form-check-label" for="flexSwitchCheckDefault"><strong>Gasolina</strong></label>
                            </div>
                        </div>
                                </form>
                        
                        <div class="col-12 justify-content-center">
                            <form method="GET">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-auto">
                                        <label for="costo_filter.form.nombres" class="col-sm-auto col-form-label text-right"><strong>Nombre:</strong></label>
                                        {% render_field costo_filter.form.nombres class="form-control" %}
                                    </div>
                                    <div class="col-auto">
                                        <label for="costo_filter.form.empresa" class="col-sm-auto col-form-label text-right"><strong>Empresa:</strong></label>
                                        {% render_field costo_filter.form.empresa class="form-control" %}
                                    </div>
                                    <div class="col-auto">
                                        <label for="costo_filter.form.distrito" class="col-sm-auto col-form-label text-right"><strong>Distrito:</strong></label>
                                        {% render_field costo_filter.form.distrito class="form-control" %}
                                    </div>
                                    <div class="col-auto">
                                        <label for="costo_filter.form.proyecto" class="col-sm-auto col-form-label text-right"><strong>Proyecto:</strong></label>
                                        {% render_field costo_filter.form.proyecto class="form-control" %}
                                    </div>
                                    <div class="col-auto">
                                        <label for="costo_filter.form.subproyecto" class="col-sm-auto col-form-label text-right"><strong>Subproyecto:</strong></label>
                                        {% render_field costo_filter.form.subproyecto class="form-control" %}
                                    </div>
                                    <div class="col mt-4 pt-1">
                                        <button class="btn btn-outline-success btn-lg" type="submit" value="Buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

<!-- Aquí empieza la generación de la tabla -->
<div class = "row mt-2">
    <div class="col-md-12">
        <table id="tblCostos" class="table table-striped table-hover bg-white">
            <thead class="text-black" style="background-color: #F5F5F5;">
                <tr style="background-color:#2A628F;color:#ffffff;">
                    <th scope="col">Nombre</th>
                    <th scope="col">Empleado #</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Distrito</th>
                    <th scope="col">Proyecto</th>
                    <th scope="col">SubProyecto</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Puesto</th>
                    <th scope="col">Ingreso mensual neto del empleado</th>
                    <th scope="col" class="th_check d-none" >Complemento salario catorcenal</th>
                    <th scope="col" class="th_check d-none" >Apoyo de pasajes</th>
                    <th scope="col">Total percepciones mensual</th>
                    <th scope="col">Impuesto estatal</th>
                    <th scope="col"  class="th_check d-none">IMSS Obrero patronal</th>
                    <th scope="col" class="th_check d-none">SAR 2%</th>
                    <th scope="col">Cesantía </th>
                    <th scope="col">Infonavit</th>
                    <th class="th_check d-none" scope="col">ISR</th>
                    <th class="th_check d-none" scope="col">Apoyo visita familiar</th>
                    <th class="th_check d-none" scope="col">Apoyo estancia</th>
                    <th class="th_check d-none" scope="col">Apoyo renta</th>
                    <th class="th_check d-none" scope="col">Apoyo de estudios</th>
                    <th class="th_check d-none" scope="col">AMV</th>
                    <th class="th_check d-none" scope="col">Gasolina</th>
                    <th scope="col">Total apoyos y bonos</th>
                    <th scope="col">Costo mensual para la empresa</th>
                    <th scope="col">Registro</th>
                    <th scope="col">Detalle</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for costo in costos %}
                <tr>
                    <td>{{costo.status.perfil.nombres}} {{costo.status.perfil.apellidos}}</td>
                    <td>{{costo.status.perfil.numero_de_trabajador}}</td>
                    <td>{{costo.status.perfil.empresa}}</td>
                    <td>{{costo.status.perfil.distrito}}</td>
                    <td>{{costo.status.perfil.proyecto}}</td>
                    <td>{{costo.status.perfil.subproyecto}}</td>
                    <td>{{costo.status.puesto}}</td>
                    <td>{{costo.ingreso_mensual_neto_empleado}}</td>
                    <td class="td_check d-none">{{costo.complemento_salario_catorcenal}}</td>
                    <td class="td_check d-none">{{costo.apoyo_de_pasajes}}</td>
                    <td>{{costo.total_percepciones_mensual}}</td>
                    <td>{{costo.impuesto_estatal}}</td>
                    <td class="td_check d-none">{{costo.imms_obrero_patronal}}</td>
                    <td class="td_check d-none">{{costo.sar}}</td>
                    <td>{{costo.cesantia}}</td>
                    <td>{{costo.infonavit}}</td>
                    <td class="td_check d-none">{{costo.isr}}</td>
                    <td class="td_check d-none">{{costo.apoyo_vist_familiar}}</td>
                    <td class="td_check d-none">{{costo.estancia}}</td>
                    <td class="td_check d-none">{{costo.renta}}</td>
                    <td class="td_check d-none">{{costo.apoyo_estudios}}</td>
                    <td class="td_check d-none">{{costo.amv}}</td>
                    <td class="td_check d-none">{{costo.gasolina}}</td>
                    <td>{{costo.total_apoyosbonos_agregcomis}}</td>
                    <td>{{costo.total_costo_empresa}}</td>
                    <td><a class="btn btn-outline-info" type="button" href="{% url 'render_report' costo.id %}"><i class="fa-solid fa-list"></i></a></td>
                    <td><a class="btn btn-outline-info" id="btnActualizar" type="button" href="{% url 'Costo_revisar' costo.id %}"><i class="fas fa-sack-dollar"></i></a></td>
                    <td><a class="btn btn-outline-info" id="btnActualizar" type="button" href="{% url 'Costo_update' costo.id %}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

                <!--Este es el modal-->
                <div class="modal fade" id ="dialog" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg" id="document" role="document">

                    </div>
                </div>
                <script>
                ;(function(){
                    const modal = new bootstrap.Modal(document.getElementById('dialog'))

                    htmx.on('htmx:beforeSwap',(e)=>{
                        if (e.detail.target.id === "document" && !e.detail.xhr.response)
                        modal.hide()
                    })
                })()

                var switches = document.querySelectorAll('.form-check-input');
                var td_check = document.querySelectorAll('.td_check');
                var th_check = document.querySelectorAll('.th_check');
                var table = document.getElementById("tblCostos");
                var totalRowCount = table.rows.length;
                var num_switches = switches.length;


                for (let i=0; i< num_switches; i++){
                    switches[i].addEventListener("change", function(element){
                        if (switches[i].checked){

                            for (let j=0; j<table.rows.length - 1; j++){
                            td_check[i+(j*num_switches)].removeAttribute('class');
                            td_check[i+(j*num_switches)].setAttribute('class', 'td_check');
                            console.log(i+(j*num_switches))
                            }
                            th_check[i].removeAttribute('class');
                            th_check[i].setAttribute('class', 'th_check');
                        } else {
                            for (let j=0; j < totalRowCount - 1; j++){
                            td_check[i+(j*num_switches)].removeAttribute('class');
                            td_check[i+(j*num_switches)].setAttribute('class', 'td_check d-none');
                            }
                            th_check[i].removeAttribute('class');
                            th_check[i].setAttribute('class', 'th_check d-none');
                        }
                    })
                };

                var myModal = document.getElementById('dialog')

                myModal.addEventListener('hidden.bs.modal', function (event) {
                //    location.reload();
                })
                </script>
             
            </div> 
        </div>
    </div>
    {% endblock %}
</body>