{% extends 'partials/base.html' %}
{% load widget_tweaks %}

{% block content %}
<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<hr>
<hr>
{% if status_fijo.id == perfil.id %}
    <div>
{% elif usuario.tipo.admin == True and usuario.distrito == perfil.distrito %}
    <div> 
{% elif usuario.tipo.admin == True and usuario.distrito.distrito == 'Matriz' %}
    <div> 
{% else %}
    &nbsp;
    <div style="text-align: center;">
    <i class="fa-solid fa-circle-exclamation fa-4x"></i>
    <h2 style="margin-top: 0.5em;">404</h2>
    <h2 style="margin-top: 0.25em;">Page not found</h2>
    <p>Si tiene los permisos para acceder a esta información <br> comuníquese con los Administradores del sistema.</p> 
    <a href="{% url 'index' %}" class="btn btn-outline-info"><i class="fa-solid fa-backward"></i>  Inicio</a>
    <div class="d-none">
{% endif %}
<div class="container card card-body">
        <div class="columns is-mobile">
            <div class="column is-half is-offset-one-quarter">
                    <div class="card-header text-black" style="background-color: #F5F5F5;">
                        <strong>
                            Información ordenes de Uniformes
                        </strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                                <span class="h4">{{perfil.perfil.nombres}} {{perfil.perfil.apellidos}}</span>
                                <!-- Aquí empieza la generación de la tabla -->
                                <table class="table table-striped table-hover bg-white">
                                    <thead class="text-black" style="background-color: #F5F5F5;">
                                        <tr style="background-color:#2A628F;color:#ffffff;">
                                            <th scope="col">Número de orden</th>
                                            <th scope="col">Fecha de la orden</th>
                                            <th scope="col">Creada</th>
                                            <th scope="col">PDF</th>
                                            <th scope="col">Detalles</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for ropa in ropas %}
                                        <tr>
                                            <td>{{ropa.id}}</td>
                                            <td>{{ropa.fecha_pedido}}</td>
                                            <td>{{ropa.created_at}}</td>
                                            <td><a class="btn btn-outline-info" id="btnOrden" type="button" href="{% url 'reporte_pdf_uniformes' ropa.id %}"><i class="fa-solid fa-file-pdf fa-2xl"></i></a>
                                            <td><a class="btn btn-outline-info" id="btnOrden" type="button" href="{% url 'Uniformes_ordenes_revisar' ropa.id %}"><i class="fa-solid fa-shirt"></i></a>

                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                            <hr>
                            {% if usuario.tipo.admin == False %}
                                <div class="d-none">
                            {% else %}
                                <div>
                            {% endif %}
                                <a href="{% url 'Tabla_uniformes' %}" class="btn btn-outline-info"><i class="fa-solid fa-backward"></i></a>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>


{% endblock %}