{% extends 'partials/base.html' %}
{% load widget_tweaks %}
{% load static %}
<html>
<head>
{% block title %}Subir carga masiva{% endblock %}
</head>
<body>
{% block content %}
<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
<hr>
<div class="modal-dialog-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Carga masiva datos bancarios de empleados</h5>
            <a href="{% url 'Tabla_datosbancarios' %}" ><button class="btn-close" type="button" data-bs-dismiss ="modal" aria-label="Close"></button></a>
        </div>

        <div class="modal-body">

        </div>


        <div class="modal-footer">
            <form hx-post="{{ request.path }}" class="modal-content" hx-encoding='multipart/form-data'>
                {% csrf_token %}
                {{form.file_name|add_class:'form-control'}}
                <div class="row" >
                    <div class="col-auto my-2 .mr-1">
                        <button type="submit" class="btn btn-outline-light" style="background-color:#980f0f" data-bs-dismiss="modal"><i class="fa-solid fa-cloud-arrow-up"></i></button>
                    </div>
                    <div class="col-auto my-2">
                        <a href="{% url 'Tabla_datosbancarios' %}"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>