{% extends 'partials/base.html' %} 
{% load widget_tweaks %}
{% load static %} 
{% block title %}Login Page{% endblock %} 
{% block content %}
<div class="container">
  <div
    class="row justify-content-center align-items-center"
    style="min-height: 100vh"
  >
    {% if user.is_authenticated %}
    <div class="col-md-6">
      <div class="border p-3 bg-white">
        <h3>Login Page</h3>
        <hr />
        <h6>
          En este momento ya estás activo en el sistema como: {{ user.username}}
        </h6>
      </div>
    </div>
    {% else %}
    <div class="col-md-6">
      <div class="border p-3 bg-white">
        <h3>Login Page</h3>
        <hr />
        <form method="POST">
          {% csrf_token %}
          <div class="container">
            <div class="row">
              <div class="col">
                {% for field in form %}
                  <div class="form-group">
                    {{ field.label_tag }}
                    {% render_field field class="form-control" %}
                  </div>
                {% endfor %}
                <div class="row mt-4">
                  <input class="btn btn-success btn-primary btn-block" type="submit" value="Log in" />
                </div>
              </div>
              <div class="col">
                <div
                  class="border p-3 bg-white" style="width: 235px; height: 185px;">
                  <img src="{% static 'images/logo/logo_vordcab-50.png' %}" width="225" height="160">
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="d-flex justify-content-center">
            <a href="/reset-password">Olvide mi contraseña</a>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}