{% extends 'partials/base.html' %} 
{% block title %} Profile Page {% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh">
  {% if user.is_authenticated %}
  <div class="col-md-6">
    <div class="border p-3 bg-white">
      <h4>Perfil de usuario</h4>
      <hr />
      <div class="row">
        <div class="col">
          <table class="table bg-white table-borderless">
            <tbody>
              <tr>
                <th scope="row">Name</th>
                <td>{{user.first_name}} {{user.last_name}}</td>
              </tr>
              <tr>
                <th scope="row">Email</th>
                <td>{{user.email}}</td>
              </tr>
              <tr>
                <th scope="row">Phone</th>
                <td>{{user.profile.phone}}</td>
              </tr>
              <tr>
                <th scope="row">Address</th>
                <td>{{user.profile.address}}</td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex align-text-bottom links justify-content-center">
            <a href="/cambiar-password">Cambiar password</a>
          </div>
        </div>
        <div class="col">
          <div class="col-md-4">
            <img class="img-thumbnail" src="{{user.profile.imageURL}}" alt="Imagen de Usuario"/>
          </div>
        </div>
      </div>

      {% endif %}
    </div>
  </div>
</div>
{% endblock %}