{% extends 'partials/base.html' %}
{% load widget_tweaks %}
<head>
    {% block title %} Register Page {% endblock %}
</head>
<body>
    {% block content %}
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh">
        {% if user.is_authenticated %}
        <div class="col-md-6">
            <div class="border p-3 bg-white">
                <h4>Registration page</h4>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {% render_field field class="form-control" %}
                    </div>
                    {% endfor %}
                    <div class="row mt-4">
                        <input class="btn btn-success" type="submit" value= "Registro">
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
    {% endblock %}
</body>
