{% autoescape off %}
Hola {{ user.username }},

Se ha recibido una solicitud para cambiar el password de su cuenta con este direccion de correo electrónico. Para iniciar el proceso, haga click en el siguiente enlace:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

El enlace unicamente puede ser usado una sola vez. Si necesita cambiar el password otra vez al sitio {{ protocol }}://{{domain}} y realice una nueva solicitud.

Si usted no realizo esta solicitud, por favor ignore este e-mail.

Saludos,
SAVIA Sistemas

{% endautoescape %}